// Put project-specific CSS here.

.vj__portfolio-grid__item {
	margin-bottom: 20px;

	a {
		color: #000;
		text-decoration: none;

		&:hover {
			h2 {
				color: orange;
				text-decoration: underline;
			}
		}
	}


	@media only screen and (max-width: $media__small) {
		border-bottom: 1px solid #CCC;
		min-height: 60px;

		img {
			float: left;
			margin-right: 5px;
			width: 120px;
		}
		h2 {
			font-family: Arial, sans-serif;
			font-size: 16px;
			font-weight: bold;
		}
	}

}