// Put project-specific CSS here.

.vj__project {
	.vj__credit {
		color: #999;
		font-family: Arial, sans-serif;
		font-size: 90%;
		margin-top: 5px;
		margin-bottom: 30px;
		text-align: right;
	}

	.vj__featured-post {
		a {

			.vj__featured-post__title {
				color: #000;
				font-size: 30px;

				@media only screen and (min-width: 640px) {
					font-size: 42px;
				}
			}

			&:hover {
				.vj__featured-post__title {
					color: #2b67a5;
					text-decoration: underline;
				}
			}
		}
	}


	.vj__story {
		p:first-of-type {
			margin-top: 0;
		}
	}

	.vj__half-column {
		@media only screen and (min-width: $media__medium) {
			float: right;
			margin-left: 2%;
			width: 48%;
		}
	}


	.vj__medium-half {
		@media only screen and (min-width: $media__medium) {
			float: left;
			width: 48%;
			margin-right: 2%;
		}
	}

	.vj__footer,
	.vj__intro {
		.vj__grid__half__small {
			width: 100%;

			ul {
				font-size: 14px;
				margin-top: 0; 
				padding-left: 16px;
				/*
				list-style: none;
				padding-left: 0;

				li {
					border-bottom: 1px solid #CCC;
					padding: 5px;
				}
				*/
			}
			@media only screen and (min-width: $media__small) {
				display: inline-block;
				margin-right: 2%;
				vertical-align: top;
				width: 49%;

				&:nth-of-type(2n){
					margin-right: 0;
				}

				ul {
					list-style: disc;
					padding-left: 14px;

					li {
						border-bottom: none;
						line-height: 1.3;
						padding: 0;
					}
				}

			}
		}
	}

	.vj__grid__full {
		&.vj__border-sides {
			@media only screen and (min-width: $media__large) {
				border-right: 1px solid #CCC;
				border-left: 1px solid #CCC;
				margin-bottom: 0;
				padding-bottom: 20px;
			}
		}
	}

	.vj__portfolio-grid {
		&.vj__grid {
			@media only screen and (max-width: $media__small) {
				padding: 0;
			}

			div:nth-of-type(3n){
				@media only screen and  (min-width: $media__medium) and (max-width: $media__large) {
					display: none;
				}
			}
		}
	}

	.vj__related-links {
		&.vj__grid {
			@media only screen and (max-width: $media__small) {
				padding: 0;
			}
		}

		ul {
			margin: 0 auto;
			max-width: 640px;
			padding-left: 0;
			li {
				border-bottom: 1px solid #CCC;
				list-style: none;

				&:first-of-type {
					border-top: 1px solid #CCC;
				}

				a {
					text-decoration: none;
					display: block;
					padding: 5px 5%;

					&:hover {
						background-color: #F1F1F1;
					}
				}

				@media only screen and (min-width: $media__small) {
					border-bottom: none;
					&:first-of-type {
						border-top: none;
					}

					a {
						display: inline;
						padding: 5px;

						&:hover {
							background-color: transparent;
							text-decoration: underline;
						}
					}

				}
			}
		}
	}

	.vj__recent-projects {

		.vj__grid__one-third {
			margin-bottom: 20px;
		}

		a {
			color: #000;
			display: block;
			text-decoration: none;

			h3 {
				font-family: Arial, sans-serif;
				font-size: 16px;
				font-weight: bold;
			}

			&:hover {
				h3 {
					color: orange;
					text-decoration: underline;
				}
			}
		}
	}

	.vj__portfolio-grid__item {
		margin-bottom: 20px;


		a {
			color: #000;
			display: block;
			text-decoration: none;

			h3 {
				font-family: Arial, sans-serif;
				font-size: 16px;
				font-weight: bold;
			}

			&:hover {
				h3 {
					color: #2b67a5;;
					text-decoration: underline;
				}
			}
		}



		@media only screen and (max-width: $media__small) {
			border-bottom: 1px solid #CCC;
			display: inline-block;
			margin-bottom: 1px;
			min-height: 60px;

			&:first-of-type {
				border-top: 1px solid #CCC;
			}

			h3 {
			    display: inline-block;
			    vertical-align: middle;
			    width: 70%;
			    width: calc(100% - 135px);
			}
			img {
			    display: inline-block;
				margin-right: 5px;
			    vertical-align: middle;
				width: 120px;
			}
		}

	}


	.vj__image-link-highlight-box {
		position: relative;

		a {
			.vj__image-link-highlight-box__promo {
				background-color: rgba(20,20,20,.8);
				border-radius: 0 40px 40px 0;
				box-shadow: 0 0 2px rgba(250,250,250,.8);
				color: #FFF;
				display: none;
				font-size: 12px;
				padding: 10px;
				position: absolute;
					bottom: 20px;
					left: 0;
				text-align: center;
				text-shadow: 1px 1px 3px rgba(20,20,20,.4);
				text-transform: uppercase;
				width: 180px;

				@media only screen and (min-width: $media__medium) {
					bottom: 40px;
					font-size: 16px;
					padding: 10px;
					width: 240px;
				}

				.vj__image-link-highlight-box__circle {
					display: inline-block;
					margin: 0 0 0 5px;
					background-color: #FFF;
					background-image: url(../img/fpo__icon-tap.png);
					background-size: cover;
					background-repeat: no-repeat;
					border-radius: 50%;
					width: 36px;
					height: 36px;
					vertical-align: middle;
					
				}

			}

			&:hover {
				.vj__image-link-highlight-box__promo {
					display: block;

					h3 {
						display: inline-block;
						vertical-align: middle;
					}

					&:hover {
						box-shadow: 0 0 8px rgba(260,260,260,.8);
						text-decoration: underline;
					}
				}
			}
		}
	}

}