.vj__project {
	height: 100%;
	line-height: 1.2;
	max-width: 100%;
	overflow-wrap: break-word;
	padding: 0;
	word-wrap: break-word;

	img {
		max-width: 100%;
	}

	a {
		color: $color__vj-blue;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		font-family: $font__sansDisplay;
		margin: 0;
	}

	strong{
		font-family: $font__sansDisplay;
	}

	.vj__story p{
		font-family: $font__serif;
		font-size: 120%;
		line-height: 1.4;
	}

	.vj__kicker,
	.vj__graphic__kicker {
		background-color: $color__vj-red--dark;
		color: #FFF;
		display: inline-block;
		font-size: 14px;
		padding: 5px 7px;
		text-transform: uppercase;
	}

	.vj__label {
		color: $color__vj-red--dark;
		margin-bottom: 20px;
		text-transform: uppercase;

		a {
			color: $color__vj-red--dark;
		}
	}

	.vj__byline {
		font-family: $font__sans;
		font-weight: bold;
		margin-bottom: 20px;

		.vj__agency {
			font-weight: normal;
		}
	}

	.vj__cutline {
		color: $color__vj-gray-medium;
		font-family: $font__sans;
		font-size: 90%;
		font-weight: bold;
		margin: 5px 0 20px 0;
	}

	.vj__section {
		margin: 0 auto;
		max-width: $max-width;
		padding: 0;
		position: relative;
		z-index: 9995; 
	}

	.vj__section__full-width {
		background-color: $color__vj-gray-lightest;
		border-bottom: 1px solid $color__vj-gray-lighter; 
		border-top: 1px solid $color__vj-gray-lightest;
		padding: 0;
		position: relative;
		z-index: 9995; 

		&.vj__section__title {
			background-position: center 20%;
			background-size: cover;
			min-height: 80%;
			position: relative;
		}

		.vj__title-card__shadow {
			background-image: linear-gradient(transparent 0%,#000 200%);
			height: 30%;
			position: absolute;
				bottom: 0;
			width: 100%;
		}
		.vj__title-card {
			position: absolute;
				bottom: 5%;
		}

		.vj__title {
			@extend .vj__graphic__title--large;
			color: #FFF;
			text-shadow: 1px 1px 3px #333;
		}
	}


	.vj__footer {
		background-color: $color__vj-gray-lightest;
		padding: 40px 0;
		&.dark {
			background-color: $color__vj-gray-dark;
			color: $color__vj-gray-light;

			h3 {
				color: #CCC;

				&.vj__kicker {
					color: #FFF;
				}
			}
		}

		.vj__grid__one-third {
			margin-bottom: 40px;

			@media only screen and (min-width: 640px) {
				margin-bottom: 0;
			}
		}

		.vj__kicker {
			margin-bottom: 10px;
		}
	}

	.vj__graphic__title--large {
		font-size: 2rem;
		margin-bottom: 10px;
	}
	.vj__graphic__readin {
		font-family: $font__serif;
		font-size: 110%;
		font-style: italic;
		font-weight: normal;
		line-height: 1.5;
		margin-top: 0;
	}

	.vj__graphic__title--section {
		font-size: 1.5rem;
		margin: 0;
	}

	.vj__section__intro {
		font-size: 16px;
		margin-bottom: 10px;
	}

	.vj__mugshot {
		float: left;
		margin: 1em 15px 10px 0;
		max-width: 33%;
		width: 120px;
	}

	.vj__mugshot--round {
		border-radius: 50%;
		border: 1px solid #FFF;
		margin: 2px 5px 2px 5%;
		vertical-align: middle;
		width: 40px;
	}

	.vj__photo--inset {
		margin-bottom: 10px;
		width: 100%;
	}


	@media only screen and (min-width: $media__medium) {
		.vj__graphic__title--large {
			font-size: 3rem;
			margin-bottom: 20px;
		}

		.vj__graphic__readin {
			font-size: 120%;
			line-height: 1.7;
			margin-bottom: 2rem;
		}

		.vj__section__intro {
			font-size: 20px;
			margin-bottom: 30px;
		}
	}

	@media only screen and (min-width: $media__large) {
		.vj__graphic__title--large {
			font-size: 4rem;
		}

		.vj__graphic__title--section {
			font-size: 3rem;
		}

		.vj__graphic__readin {
			font-size: 140%;
			line-height: 2;
		}

		.vj__graphic__intro {
			display: none;
		}

		.vj__section__intro {
			font-size: 24px;
			line-height: 1.4;
			margin-bottom: 30px;
		}

		.vj__mugshot--round {
			border: 3px solid #FFF;
			width: 60px;
		}

	}

}

