.vj__rss {
	margin-top: 0;
	padding-left: 0;
}
.vj__rss li{
	border-bottom: $border__dotted-light;
	font-size: 16px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	list-style: none;
}

.vj__rss li:last-of-type{
	border-bottom: none;
}

.vj__rss li a{
	color: #333;
	text-decoration: none;
}

.vj__rss li a:hover {
	color: $color__vj-blue;
	text-decoration: underline;
}