
<div id="dns" class="comicBook">
			<div style="text-align:center;">
				<h2 class="kicker" id="toolName">DNS</h2>
			</div>

			<div class="panel col3 title block">
				<h1 id="headline">{{ site.data.dns[ include.langnumber ].headline }}</h1>
				<h2 id="tagline">{{ site.data.dns[ include.langnumber ].tagline }}</h2>
			</div>
			<div class="panel col3 block comicIntro">
				<div style="margin-right:0; padding-right:0;" class="subpanel third">
					<img style="margin-right:0; padding-right:0;" class="imagePanel" src="http://www.voanews.com/MediaAssets2/projects/circumvention/img/intro_2.png" data-pin-nopin="true">
				</div>
				<div class="subpanel twothirds">
					<p style="padding: 15px; text-align:center; background-color:#FFF;" class="textPad all balloon" id="introduction">{{ site.data.dns[ include.langnumber ].introduction }}</p>
				</div>
			</div>
			<div class="clearMe"></div>


			<div class="panel col2">
				<p style="" class="textPad blackBox" id="panel1">{{ site.data.dns[ include.langnumber ].panel1 }}</p>
				<img class="imagePanel" src="http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_dns-02.png" data-pin-nopin="true">
			</div>
			<div class="panel col2">
				<p style="background-color: #928ac4; color:#FFF;" class="textPad" id="panel2">{{ site.data.dns[ include.langnumber ].panel2 }}</p>
				<img class="imagePanel" src="http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_dns-03.png">
			</div>
			<div class="panel col2">
				<p style="background-color:#00a79d; color:#FFF;" class="textPad" id="panel3">{{ site.data.dns[ include.langnumber ].panel3 }}</p>
				<img class="imagePanel" src="http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_dns-04.png"></div>
			<div class="panel col2">
				<p style="" class="textPad blackBox" id="panel4">{{ site.data.dns[ include.langnumber ].panel4 }}</p>
				<img class="imagePanel" src="http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_dns-05.png">
			</div>
			<div class="panel col3">
				<p style="background-color: #f15a29; color:#FFF;" class="textPad " id="panel5">{{ site.data.dns[ include.langnumber ].panel5 }}</p>
				<img class="imagePanel" src="http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_dns-06.png">
			</div>
			<div class="panel col1 tiltRight">
				<img class="imagePanel noFlip" src="http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_dns-07.png">
			</div>
			<div class="panel col2">
				<p style="background-color: #000; color:#FFF;" class="textPad blackBox" id="panel7">{{ site.data.dns[ include.langnumber ].panel7 }}</p>
				<img class="imagePanel" src="http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_dns-08.png">
			</div>
			<div class="panel col2">
				<img class="imagePanel" src="http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_dns-09.png">
				<p style="background-color: #928ac4; color:#FFF;" class="textPad" id="panel8">{{ site.data.dns[ include.langnumber ].panel8 }}</p>
			</div>
			<div class="panel col2	">
				<p class="textPad top" id="panel9">{{ site.data.dns[ include.langnumber ].panel9 }}</p>
				<img class="imagePanel noFlip" src="http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_dns-10.png">
			</div>
		</div>