<footer class="vj__footer">

  <div class="vj__grid__full" style="">
	<div class="vj__grid">

		<div class="vj__grid__two-thirds wide-right vj__rule ">
			<h3 class="vj__label">About</h3>
			<img src="/img/portrait__brian-williamson.jpg" style="float: left; margin-right: 10px; width: 80px;">
			<p style="margin-top: 0; font-size: 14px; line-height: 1.4;">{{ site.description | escape }} | <a href="/about/">Read more</a></p>
		</div>

		<div class="vj__grid__one-third" style="margin-right: 0;">
		  <h3 class="vj__label">Links</h3>
			<ul style="padding-left: 0; list-style: none;  font-size: 14px;">
				<a href="https://twitter.com/brianwmson"><li> {% include icon-twitter.html username=site.twitter_username %}</li></a>
				<!--
				<a href="https://www.linkedin.com/in/visualjournalist/"><li>LinkedIn</li></a>
				<a href="{{ "/feed.xml" | relative_url }}"><li>RSS </li></a>
				-->
				<br/>
				<a href="https://www.voanews.com/"><li>Voice of America</li></a>
				<a href="https://bbg.gov/"><li>Broadcasting Board of Governors</li></a>
				<a href="https://www.xplane.com/"><li>XPLANE</li></a>
				<a href="https://www.stltoday.com/"><li>St. Louis Post-Dispatch</li></a>

			</ul>
		</div>

	</div>
  </div>

</footer>
