<footer class="site-footer">

  <div class="vj__grid__full">
    <div class="vj__grid">
      <!--<h3>CONTACT ME</h3>-->
      <ul style="text-align: center;">
        <a href="https://twitter.com/brianwmson"><li class="" style="display: inline-block;">Twitter: @brianwmson</li></a> | 
        <a href="mailto:visualjournalist@gmail.com"><li class="" style="display: inline-block;"><span class="label">Email: </span>visualjournalist@gmail.com </li></a> | 
        <a href="tel://314.482.9554"><li class="" style="display: inline-block;"><span class="label">Phone: </span>314.482.9554 </li></a>
      </ul>
    </div>
  </div>

      <!--

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>
      -->

</footer>
