<header class="site-header" role="banner">

    <div class="voa__navbar">
      <div class="voa__grid__full">
        <div class="voa__grid">
         <a href="{{ "/" | relative_url}}" class="voa__navbar__title">VISUAL <span class="orange" style="color: orange;">JOURNALI<span style="color: #999">.</span>ST</span></a>

          <div id="menuButton" class="voa__navbar__toggle"></div>

          <nav id="main-nav" role="navigation" class="main-menu-nav">
            <ul id="main-menu" class="sm sm-clean" data-smartmenus-id="14762810590939192">

            {% for my_page in site.pages %}
              {% if my_page.title %}
              <li id="navSection1"><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
              {% endif %}
            {% endfor %}

              <li><a id="shareTwitter" class="social-share-link twitter" href="javascript:void(0);"><div class="social-icon"></div><span class="social-share-text">Share on Twitter</span></a></li>
              <li><a id="shareFacebook" class="social-share-link facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fvisualjournali.st%2F"><div class="social-icon"></div><span class="social-share-text">Share on Facebook</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

</header>

