<header class="site-header" role="banner">


    <div class="voa__navbar">
      <div class="voa__grid__full">
        <div class="voa__grid">
         <a href="{{ "/" | relative_url}}" class="voa__navbar__title">VISUAL <span class="orange" style="color: orange;">JOURNALI.ST</span></a>

          <div id="menuButton" class="voa__navbar__toggle"></div>

          <nav id="main-nav" role="navigation" class="main-menu-nav">
            <ul id="main-menu" class="sm sm-clean" data-smartmenus-id="14762810590939192">

            {% for my_page in site.pages %}
              {% if my_page.title %}
              <li id="navSection1"><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
              {% endif %}
            {% endfor %}

              <li><a id="shareTwitter" class="social-share-link twitter" href="javascript:void(0);"><div class="social-icon"></div><span class="social-share-text">Share on Twitter</span></a></li>
              <li><a id="shareFacebook" class="social-share-link facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fvisualjournali.st%2F"><div class="social-icon"></div><span class="social-share-text">Share on Facebook</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>






<!--
  <div class="wrapper">

<h3><a class="site-title" href="{{ "/" | relative_url}}">VISUAL <span class="orange" style="color: orange;">JOURNALI.ST</span></a><h3>


    <nav class="site-nav">
      <span class="menu-icon">
        <svg viewBox="0 0 18 15" width="18px" height="15px">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </span>

      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>
-->
</header>

