// utility classes

.vj__clear:before,
.vj__clear:after {
	content: " ";
	display: table;
}

.vj__clear:after {
	clear: both;
}

.vj__rule {
	@media only screen and (max-width: 640px) {
		&.wide-right {
			border-bottom: $border__dotted-light;
			margin-bottom: 20px;
			padding-bottom: 20px; 
		}
		&.wide-left {
			border-top: $border__solid-light;
			padding-top: 30px; 
		}
	}

	@media only screen and (min-width: 640px) {
		&.wide-right {
			border-right: $border__solid-light;
			padding-right: 30px; 
		}
		&.wide-left {
			border-left: $border__solid-light;
			padding-left: 30px; 
		}
	}
}

@media only screen and (max-width: media__medium) {
	.vj__no-mobile {
		display: none;
	}
}

@media only screen and (max-width: media__medium) , screen and (max-height: 475px) {
	.vj__no-mobile {
		display: none;
	}
}



@media only screen and (min-width: $media__medium-large) and (max-width: $media__large--) {
	.vj__no-tablet {
		display: none;
	}
}