/* add the language name to the same div as .vj__project */

@mixin language($translation) {
	.vj__project {
		&.#{$translation} {
			h1,
			h2,
			h3,
			h4,
			h5 {
				font-family: $font__display;
			}

			.vj__graphic__readin {
				font-family: $font__secondary;
			}

			strong {
				font-family: $font__primary;
			}

			.vj__story p {
				font-family: $font__secondary;
			}

			.vj__byline {
				font-family: $font__primary;
			}

			.vj__cutline {
				font-family: $font__primary;
				font-weight: normal;
			}

		}
	}
}
