---
layout: default
---

<div class="category vj__content">
	<div class="vj__grid__full vj__border-sides" style="padding-top: 45px;">
		<div class="vj__grid" style="margin-bottom: 4px;">

			<h3 class="vj__kicker vj__hide-large" style="background-color: orange; margin-top: 30px;"> {{ page.title | escape }} portfolio</h3>
	
	{% unless page.content == '' %}
			<div style="padding: 10px 5%; background-color: #F1F1F1; line-height: 1.5; border-radius: 0 0 15px 15px; margin-bottom: 20px;">
				<p>{{ page.content }}</p>
			</div>
	{% endunless %}

		</div>






		<div class="vj__grid" style="margin: 0 auto 10px auto;">
			<div class="vj__featured-post">
				
				<a class="post-link" href=" {{ site.categories[page.category][0].url | relative_url }}" style=" text-decoration: none;">
				  {% if site.categories[page.category][0].image %}
					<img src="/img/{{ site.categories[page.category][0].image }}" alt="{{ site.categories[page.category][0].alt }}">
				  {% else %}
					<img src="https://placehold.it/1280x720">
				  {% endif %}

					<h2 class="vj__featured-post__title">
					  {{ site.categories[page.category][0].title }}
					</h2>
				</a>
				<p style="">{{ site.categories[page.category][0].excerpt | strip_html }}</p>
			</div>
		</div>







		<div class="vj__grid vj__portfolio-grid">
	  <!--
	  {% assign counter = 0 %}
	  {% for post in site.categories[page.category] %}
		{% if counter >0 %}
		 --><div class="vj__grid__element vj__portfolio-grid__item">
				<!--<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>-->
				<a class="post-link" href="{{ post.url | relative_url }}">
				{% if post.thumbnail %}
				  <img src="/img/{{ post.thumbnail }}">
				{% else %}
				  <img src="https://placehold.it/640x360">
				{% endif %}
				  <h3>
					{{ post.title | escape }}
				  </h3>
				</a>
			  </div><!--
		  {% endif %}
		  {% assign counter = counter | plus: 1 %}
		  {% endfor %}
		  -->
		</div>
	</div>
</div>

{% include footer.html %}
