---
layout: default
---
<!--<script sync src="https://platform.twitter.com/widgets.js"></script>-->
<div class="vj__content home">




<!-- category specific sections -->
<header class="vj__intro" style="padding-bottom: 0; padding-top: 50px;">

  <div class="vj__grid__full vj__border-sides" style="margin-bottom: 0; padding-bottom: 0;">
	<div class="vj__grid">

		<div class="vj__grid__two-thirds wide-right vj__rule " style=" padding-top: 20px; padding-bottom: 10px;">
			<!--<h3 class="vj__label">About</h3>-->
			<img src="/img/portrait__brian-williamson.jpg" style="float: left; margin-right: 10px; width: 80px;">
			<p style="margin-top: 0; font-size: 14px; line-height: 1.4;">{{ site.description_link }} | <a href="/about/">Read more</a></p>
		</div>

		<div class="vj__grid__one-third vj__no-mobile" style="margin-right: 0; padding-top: 20px;">
		  <div class="voa__grid">
		  	<div style="vertical-align: bottom;">
		  		<a href="/sketchbook/">
			  		<img src="img/sketchbook.png" style="float: left; margin-right: 10px; width: 33%; max-width: 90px;">
					<h4 style="font-family: Arial, sans-serif;">Metro sketchbook</h4>
		  		</a>
			  		<p style="font-size: 14px; line-height: 1.4;">A year of surreptitiously drawing people on the Red Line in DC.</p>

		  		<!--<h3 class="vj__label">CODING</h3>-->
				<!--<ul style="margin-top: 0; list-style: none; padding-left: 0;">
					<a href="https://twitter.com/brianwmson"><li> {% include icon-twitter.html username=site.twitter_username %}</li></a>
					<a href="https://github.com/bbgvisualjournalist"><li> {% include icon-github.html username=site.github_username %}</li></a>
				</ul>-->
				</div>
		  </div>
		</div>

	</div>
  </div>

</header>

  {% for cat in site.categories_list %}
	  {% assign currentCat = cat.name %}
	  {% assign currentCatDescription = cat.description %}
	<section style="">
		<div class="vj__grid__full vj__border-sides" style="padding-top: 20px; margin-bottom: 0; padding-bottom: 20px;">
			<h3 class="vj__kicker" style="font-size: 20px; padding-left: 5%; margin-bottom: 15px;"><a href="{{ "/" | relative_url}}{{ currentCat }}">{{ currentCat}} portfolio</a></h3>
			<!--<div class="vj__grid ">
				<div style="line-height: 1.5; ">
					<p style="font-size: 18px;">{{ currentCatDescription }}</p>
				</div>

			</div>-->


			<div class="vj__grid" style="margin: 0 auto 10px auto;">
				<div class="vj__featured-post">
					<a class="vj__featured-post post-link" href=" {{ site.categories[currentCat][0].url | relative_url }}" style=" text-decoration: none;">
					  {% if site.categories[currentCat][0].image %}
						<img src="/img/{{ site.categories[currentCat][0].image }}" alt="{{ site.categories[currentCat][0].alt }}" />
					  {% else %}
						<img src="https://placehold.it/1280x720" alt="{{ site.categories[currentCat][0].alt }}" />
					  {% endif %}
						<h2 class="balance-text vj__featured-post__title">{{ site.categories[currentCat][0].title }}</h2>
					</a>
					<p style="">{{ site.categories[currentCat][0].excerpt | strip_html }}</p>
				</div>
			</div>
		</div>

		<div class="vj__grid__full vj__border-sides" style="padding-bottom: 40px; margin-bottom: 0;">
				
			<div class="vj__grid vj__portfolio-grid">
		  <!--
		  {% assign counter = 0 %}
		  {% for post in site.categories[currentCat] %}
		  	{% assign loopNumber = cat.totalStories %}
			{% if counter > 0 and counter < loopNumber %}
			{% if cat.totalStories == 3 %}
				{% assign gridSizeClass = "vj__grid__one-half" %}
			{% else %}
				{% assign gridSizeClass = "vj__grid__element" %}
			{% endif %}
			 --><div class="{{ gridSizeClass }} vj__portfolio-grid__item">
					<!--<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>-->
					<a class="post-link" href="{{ post.url | relative_url }}">
					{% if post.thumbnail %}
					  <img src="/img/{{ post.thumbnail }}">
					{% else %}
					  <img src="https://placehold.it/640x360">
					{% endif %}
					  <h3>
						{{ post.title | escape }}
					  </h3>
					</a>
				  </div><!--
			  {% endif %}
			  {% assign counter = counter | plus: 1 %}
			  {% endfor %}
			  -->
			</div>
		</div>

	<!--<div class="vj__grid__full">
		<div class="issue__update tweet">
			<div class="tweet" data-tweet=""></div>
		</div>
	</div>-->
	</section>
  {% endfor %}



  </div>
</div>
{% if site.development_mode %}
<div id="siteWarning" style="position: fixed; bottom: 0; width: 100%; padding: 10px; text-align: center; background-color: #900; color: #FFF;">
  {{ site.development_warning }} | <a href="https://github.com/visualjournalist/visualjournalist.github.io" style="color: orange;">Read more</a>
</div>
{% endif %}
