---
layout: default
---
<!--<script sync src="https://platform.twitter.com/widgets.js"></script>-->
<div class="vj__content home">




<!-- category specific sections -->
<footer class="vj__footer" style="padding-bottom: 0; padding-top: 70px;">

  <div class="vj__grid__full" style="">
	<div class="vj__grid">

		<div class="vj__grid__two-thirds wide-right vj__rule ">
			<!--<h3 class="vj__label">About</h3>-->
			<img src="/img/portrait__brian-williamson.jpg" style="float: left; margin-right: 10px; width: 80px;">
			<p style="margin-top: 0; font-size: 14px; line-height: 1.4;">{{ site.description_link }} | <a href="/about/">Read more</a></p>
		</div>

		<div class="vj__grid__one-third" style="margin-right: 0;">
		  <div class="voa__grid">
		  		<!--<h3 class="vj__label">CODING</h3>-->
				<ul style="margin-top: 0; list-style: none; padding-left: 0;">
					<a href="https://twitter.com/brianwmson"><li> {% include icon-twitter.html username=site.twitter_username %}</li></a>
					<a href="https://github.com/bbgvisualjournalist"><li> {% include icon-github.html username=site.github_username %}</li></a>
				</ul>
		  </div>
		</div>

	</div>
  </div>

</footer>

  {% for cat in site.categories_list2 %}
	  {% assign currentCat = cat.name %}
	  {% assign currentCatDescription = cat.description %}
	<section style="margin-bottom: 40px;">
		<div class="vj__grid__full">
			<h3 class="vj__kicker" style="font-size: 20px; padding-left: 5%; margin-bottom: 15px;">{{ currentCat}} portfolio</h3>
			<!--<div class="vj__grid ">
				<div style="line-height: 1.5; ">
					<p style="font-size: 18px;">{{ currentCatDescription }}</p>
				</div>

			</div>-->


			<div class="vj__grid" style="margin: 0 auto 10px auto;">
				<div class="vj__featured-post">
					<a class="vj__featured-post post-link" href=" {{ site.categories[currentCat][0].url | relative_url }}" style=" text-decoration: none;">
					  {% if site.categories[currentCat][0].image %}
						<img src="/img/{{ site.categories[currentCat][0].image }}">
					  {% else %}
						<img src="https://placehold.it/1280x720">
					  {% endif %}
						<h2 class="balance-text vj__featured-post__title" style="">{{ site.categories[currentCat][0].title }}</h2>
					</a>
					<p style="">{{ site.categories[currentCat][0].excerpt | strip_html }}</p>
				</div>
			</div>
		</div>



	<div class="vj__grid vj__portfolio-grid">
  <!--
  {% assign counter = 0 %}
  {% for post in site.categories[currentCat] %}
	{% if counter >0 and counter < 4%}
	 --><div class="vj__grid__element vj__portfolio-grid__item">
			<!--<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>-->
			<a class="post-link" href="{{ post.url | relative_url }}">
			{% if post.thumbnail %}
			  <img src="/img/{{ post.thumbnail }}">
			{% else %}
			  <img src="https://placehold.it/640x360">
			{% endif %}
			  <h3>
				{{ post.title | escape }}
			  </h3>
			</a>
		  </div><!--
	  {% endif %}
	  {% assign counter = counter | plus: 1 %}
	  {% endfor %}
	  -->
	</div>
	<!--<div class="vj__grid__full">
		<div class="issue__update tweet">
			<div class="tweet" data-tweet=""></div>
		</div>
	</div>-->
	</section>
  {% endfor %}



  </div>
</div>
{% if site.development_mode %}
<div id="siteWarning" style="position: fixed; bottom: 0; width: 100%; padding: 10px; text-align: center; background-color: #900; color: #FFF;">
  {{ site.development_warning }} | <a href="https://github.com/visualjournalist/visualjournalist.github.io" style="color: orange;">Read more</a>
</div>
{% endif %}
