---
layout: default
---
<article class="post vj__grid__full vj__content" itemscope itemtype="http://schema.org/BlogPosting">
	<section class="vj__section__full-width">
		  <div class="vj__grid__full">
			<div class="vj__grid" style="margin-bottom: 0;">
			  
				<header class="post-header" style="padding-top: 60px;">
				<h3 class="vj__kicker" style="background-color: orange;"><a href="/{{ page.categories.last }}/">{{ page.categories.last }}</a></h3>
				<h3 class="" style="float: right; color: #CCC; font-weight: normal;">{{ page.date | date: "%B %-d, %Y" }}</h3>


				<h1 class="vj__title">{{ page.title }}</h1>

				</header>

			</div>
		  </div>
	</section>

{% if page.youtube %}
	<div class='embed-container'><iframe src="http://www.youtube.com/embed/{{ page.youtube }}" frameborder="0" allowfullscreen></iframe></div>
{% elsif page.image %}

	{% if page.vertical %}
	  {% if page.image and page.link-project %}<a href="{{ page.link-project }}"/>{% endif %}
		{% if page.image %}<img class="vj__medium-half" alt="" src="{{ site.url }}/img/{{ page.image }}" style="" />{% endif %}
	  {% if page.image and page.link-project %}</a>{% endif %}
	{% else %}
	  {% if page.image and page.link-project %}<a href="{{ page.link-project }}"/>{% endif %}
		{% if page.image %}<img alt="" src="{{ site.url }}/img/{{ page.image }}" style="margin-bottom: 30px;" />{% endif %}
	  {% if page.image and page.link-project %}</a>{% endif %}
  {% endif %}
{% endif %}

	<div class="vj__grid__full">
		<div class="post-content vj__grid" itemprop="articleBody">
			<div class="vj__story">
			  {{ content }}
			</div>
		</div>
	</div>
<!--
 {{ page.categories | first }}

<ul>
	{% for category in page.categories %}
		<li>
				{{ category }}
		</li>
	{% endfor %} 
</ul>

-->

{% if page.link-project or page.link-code or page.link-blogpost or page.link-video %}
	<div class="vj__grid vj__related-links">
		<ul class="">
		{% if page.link-project %}<li><a href="{{ page.link-project }}">View the project</a></li>{% endif %}
		{% if page.link-code %}<li><a href="{{ page.link-code }}">View the code</a></li>{% endif %}
		{% if page.link-blogpost %}<li><a href="{{ page.link-blogpost }}">Read a blogpost</a></li>{% endif %}
		{% if page.link-video %}<li><a href="{{ page.link-video }}">Watch a video</a></li>{% endif %}
		{% if page.link-pdf %}<li><a href="{{ page.link-pdf }}">Download the PDF</a></li>{% endif %}
		</ul>
	</div>
{% endif %}



	<div class="vj__grid__full vj__recent-projects" style="margin-top: 40px;">

		<div class="vj__grid">
			<h3 class="vj__label" style="margin-bottom: 0;">Recent projects</h3>
		</div>
		<div class="vj__grid">

{% for post in site.posts limit:4 %}
  {% if post.url != page.url %} 
	{% if forloop.index < 4 or found %}

			<div class="vj__grid__one-third">
				<a href="{{ post.url }}">
		  {% if post.thumbnail %}
					<img src="/img/{{ post.thumbnail }}">
		  {% else %}
					<img src="https://placehold.it/1280x720">
		  {% endif %}
					<h2 class="headline">{{ post.title }}</h2>
				</a>
			</div>


	{% endif %}
  {% else %}
	{% assign found = true %} 
  {% endif %}
{% endfor %}
  
		</div>
	</div>

  {% if site.disqus.shortname %}
	{% include disqus_comments.html %}
  {% endif %}
</article>
